* {
  padding: 0;
  margin: 0;
  font-family: 'Lora', serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #151515;
  width: 100vw;
  box-sizing: border-box;
  height: 10vh;
  position: fixed;
}

header h1 {
  color: #F7F7F7;
  font-size: 2rem;
  padding-left: 30px;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav p {
  gap: 20px;
  padding: 20px 30px;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
}

header nav p a {
  text-decoration: none;
  color: #F7F7F7;
  font-size: 1.6rem;
  gap: 20px;
}

header nav p a img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
}

header nav p:hover {
  background-color: #3d3d3d;
}

header .responsive_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  display: none;
}

header .responsive_icon img {
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

aside {
  width: clamp(300px, 30vw, 600px);
  position: fixed;
  right: -150%;
  top: 60px;
  background-color: #fff;
  padding: 20px;
  min-height: 100%;
  box-shadow: -19px -1px 22px -15px rgba(0, 0, 0, 0.29);
  transition: all 0.25s ease;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

aside.show {
  right: 0;
}

aside p {
  font-size: 1.5rem;
  padding: 20px 40px;
  transition: all 0.25s ease;
  text-decoration: none;
}

aside p:hover {
  color: #F7F7F7;
  background-color: #151515;
}

aside a {
  text-decoration: none;
  color: #151515;
}

main {
  padding: 30px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .first {
  padding-top: 100px;
}

main .first p {
  font-size: 1.3rem;
  padding-left: 40px;
}

main article {
  width: clamp(400px, 50vw, 800px);
  margin: 0 auto;
}

main article h1 {
  font-size: 3rem;
  margin: 30px;
}

main article h3 {
  font-size: 1.2rem;
  margin: 20px;
}

main article p {
  font-size: 1.2rem;
  margin: 10px;
}

@media only screen and (max-width: 850px) {
  header {
    justify-content: end;
  }
  header .header_title {
    display: none;
  }
  header nav {
    display: none;
  }
  header .responsive_icon {
    display: inline;
  }
}
