* {
  padding: 0;
  margin: 0;
  font-family: 'Lora', serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #151515;
  width: 100vw;
  box-sizing: border-box;
  height: 10vh;
  position: fixed;
}

header h1 {
  color: #F7F7F7;
  font-size: 2rem;
  padding-left: 30px;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav p {
  gap: 20px;
  padding: 20px 30px;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
  cursor: pointer;
}

header nav p a {
  text-decoration: none;
  color: #F7F7F7;
  font-size: 1.6rem;
  gap: 20px;
}

header nav p a img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
}

header nav p:hover {
  background-color: #3d3d3d;
}

header .responsive_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  display: none;
  cursor: pointer;
}

header .responsive_icon img {
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

aside {
  width: clamp(300px, 30vw, 600px);
  position: fixed;
  right: -150%;
  top: 60px;
  background-color: #fff;
  padding: 20px;
  min-height: 100%;
  box-shadow: -19px -1px 22px -15px rgba(0, 0, 0, 0.29);
  transition: all 0.25s ease;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

aside.show {
  right: 0;
}

aside a {
  text-decoration: none;
  color: #151515;
}

aside p {
  font-size: 1.5rem;
  padding: 20px 40px;
  transition: all 0.25s ease;
  text-decoration: none;
}

aside p:hover {
  color: #F7F7F7;
  background-color: #151515;
}

main .calatrava {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

main .calatrava article {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .calatrava article h1 {
  font-size: 3rem;
}

main .calatrava article h3 {
  font-size: 1.5rem;
}

main .calatrava img {
  width: 50vw;
  height: 100vh;
  object-fit: cover;
}

main .primera {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #151515;
}

main .primera img {
  width: 50vw;
  height: 100vh;
  object-fit: cover;
}

main .primera article {
  width: 50vw;
  height: 100vh;
  background-color: #151515;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .primera article p {
  color: #F7F7F7;
  font-size: 1.6rem;
  padding: 100px;
}

main .text {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: #F7F7F7;
}

main .text article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

main .text article .first {
  padding: 40px;
  width: 30vw;
}

main .text article .first p {
  padding: 10px;
  font-size: 1.15rem;
}

main .text article .second {
  padding: 40px;
  width: 30vw;
}

main .text article .second .bold {
  font-weight: bold;
  font-size: 1.4rem;
}

main .text article .second .boton {
  margin: 20px auto;
  background-color: #151515;
  border-radius: 5px;
  color: #F7F7F7;
  width: 150px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #151515;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

main .text article .second .boton:hover {
  background-color: #F7F7F7;
  color: #151515;
}

main .quote {
  width: 100vw;
  height: 100vh;
  background-color: #151515;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .quote p {
  color: #F7F7F7;
  width: 60vw;
  font-size: 2rem;
}

main .main_5section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .main_5section h1 {
  font-size: 2rem;
  margin: 20px;
}

main .main_5section form {
  width: 60vw;
  border: 3px solid #151515;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .main_5section form label {
  font-size: 1.3rem;
  margin: 20px;
}

main .main_5section form input {
  width: clamp(200px, 30%, 400px);
  height: 50px;
}

main .main_5section form button {
  margin: 30px;
  width: 400px;
  height: 40px;
  border: 3px solid #151515;
  background-color: #151515;
  color: #F7F7F7;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

main .main_5section form button:hover {
  background-color: #F7F7F7;
  color: #151515;
}

@media only screen and (max-width: 850px) {
  header {
    justify-content: end;
  }
  header .header_title {
    display: none;
  }
  header nav {
    display: none;
  }
  header .responsive_icon {
    display: inline;
  }
}

@media screen and (max-width: 650px) {
  .calatrava {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .calatrava article {
    width: 100%;
    height: 40vh;
  }
  .calatrava img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
  }
  .primera {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .primera img {
    width: 200vw;
    min-height: 50vh;
    object-fit: cover;
  }
  .primera article {
    width: 50vw;
    min-height: 50vh;
    font-size: 0.8rem;
    background-color: aqua;
  }
  .text article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .text article div {
    width: 100vw;
  }
}

@media only screen and (max-width: 500px) {
  p {
    font-size: 1rem;
  }
  label {
    font-size: 1rem;
  }
  input {
    width: 200px;
  }
}
